* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body{
    background-color: #023e8a;
    display: flex;
    height: 100vh;
    align-items: center;
}

.main {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
    /* padding: 160px 0; */
    /* height: 70vh; */
    margin: auto;
    width: 80%;
    display: flex;

    /* justify-content: center; */
    align-items: center;
    border: 2px solid #caf0f8;
}


.container {
    background-color: #caf0f8;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
    padding: 160px 0;
    /* height: 70vh; */
    margin: auto;
    /* width: 80%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid #90e0ef;
    width: 100%;
    height: auto;

}

.inputContainer {
    /* background-colorazure;
    background-color: none;: azure;
    background-color: none; */
    width: 80%;
    /* height: 70%; */
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    gap: 10%;
}


.input {
    color:aliceblue;
    background-color: #023e8a;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: fl;

    height: 300px;
    align-items: center;
    padding: 20px 20px;
    /* border: 2px solid red; */
}


.input label {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2em;
}

.input input {
    width: 80%;
    height: 30%;
    font-size: 2em;
    padding: 10px 30px;
    background-color: #90e0ef;
    color: #000;
}


button {
    width: 200px;
    height: 50px;
    /* margin: 40px 0; */
    background-color: #0077b6;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.outputContainer {
    width: 40%;
    background-color: #00b4d8;
    /* border: 2px solid black; */
    height:40px ;
}

#output {
    width: auto;
    /* border: 2px solid black; */
    /* color:; */
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    text-align: center;
    margin: auto;
    /* background-color:rgb(255, 230, 200); */
    /* height: 50px; */
}



@media screen and (max-width:950px) {

    .container{
        gap: 40px;
        padding: 51px 0;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .input {
        width: 100%;
        gap: 20px;
        height: auto;
        /* gap: 20px; */
    }


    .input input {
        width: 80%;
        height: 20%;
        font-size: 1em;
        padding: 10px 10px;
        /* background-color: bisque; */
    }

}